{% load static %}
<!--===============================================================================================-->
	<script src="{% static 'login_vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login_vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>