{% extends 'shared/_layout.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}customize appearance{% endblock %}

{% block extra_header_refrences %}
    <link rel="stylesheet" type="text/css" href="{% static 'site_module/css/customize_site_appearance.css' %}">
    <link rel="icon" type="image/png" href="{% static 'site_module/images/icons/icons8-window-color-50.png' %}"/>
{% endblock %}

{% block content %}
    <form id="site_settings_form" method="post" action="{% url 'change_appearance_page' %}">
        {% csrf_token %}
        <h3 class="mb-5" style="color: #3b004d;"> customize website appearance by selecting the options bellow</h3>
        {{ site_settings_form.header_background_color.label_tag|capfirst }}
        <div class="row d-flex flex-row align-items-center justify-content-between mb-5">
            {% for choice in site_settings_form.header_background_color %}
                {% if choice.id_for_label == 'id_header_background_color_7' %}
                    <label for="{{ choice.id_for_label }}">
                        {{ choice.tag }}
                        white
                    </label>
                    {% else %}
                    {{ choice }}
                {% endif %}
            {% endfor %}
        </div>
        {% for error in site_settings_form.header_background_color.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}

        {{ site_settings_form.sidebar_background_color.label_tag|capfirst }}
        <div class="row d-flex flex-row align-items-center justify-content-between mb-5">
            {% for choice in site_settings_form.sidebar_background_color %}
                {% if choice.id_for_label == 'id_sidebar_background_color_7' %}
                    <label for="{{ choice.id_for_label }}">
                        {{ choice.tag }}
                        white
                    </label>
                    {% else %}
                    {{ choice }}
                {% endif %}
            {% endfor %}
        </div>
        {% for error in site_settings_form.sidebar_background_color.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}

        {{ site_settings_form.main_background_color.label_tag|capfirst }}
        <div class="row d-flex flex-row align-items-center justify-content-between mb-5">
            {% for choice in site_settings_form.main_background_color %}
                {% if choice.id_for_label == 'id_main_background_color_7' %}
                    <label for="{{ choice.id_for_label }}">
                        {{ choice.tag }}
                        white
                    </label>
                    {% else %}
                    {{ choice }}
                {% endif %}
            {% endfor %}
        </div>
        {% for error in site_settings_form.main_background_color.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}

        {{ site_settings_form.icons_color.label_tag|capfirst }}
        <div class="row mb-5">
            <div class="col-md-9">
                {% for choice in site_settings_form.icons_color %}
                    <div class="col-md-3">
                        {{ choice }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% for error in site_settings_form.icons_color.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}

        {{ site_settings_form.background_image.label_tag|capfirst }}
        <div class="row mb-5">
            {% for choice in site_settings_form.background_image %}
                <div class="col-md-4 mb-5">
                    {{ choice }}
                </div>
            {% endfor %}
        </div>
        {% for error in site_settings_form.background_image.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}

        <button type="submit" class="btn btn-lg btn-primary btn-block">Apply the changes</button>

    </form>
{% endblock %}