@font-face {
    font-family: 'sidebar_font';
    src: url('../fonts/site_main_fonts/Vogue.ttf');
}

@font-face {
    font-family: 'header_and_main_font';
    src: url('../fonts/site_main_fonts/LTSoul-Medium.otf');
}


.sidebar_links {
    color: #3d3d29;
    font-family: 'sidebar_font';
}

#site_header {
    font-family: 'header_and_main_font';
}

#main_background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
