{% load render_partial %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block extra_header_refrences %}{% endblock %}
    {% include 'shared/header_references.html'  %}
</head>
<body>
    <div class="container-fluid">
        {% render_partial 'home_module.views.site_header_partial' %}
        <div class="row">
            {% render_partial 'home_module.views.site_sidebar_partial' %}
            <div class="col-md-10 order-1 d-flex flex-column justify-content-around" style="height: 100%;">
                {% block content %}

                {% endblock %}
            </div>
        </div>

    </div>
    {% block extra_footer_refrences %}{% endblock %}
    {% include 'shared/footer_references.html' %}
</body>
</html>

