{% load render_partial %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    {% block extra_header_refrences %}{% endblock %}
    {% include 'shared/header_references.html'  %}
</head>
<body>
    <div class="container-fluid">
        {% render_partial 'home_module.views.site_header_partial' %}
        <div class="row">
            {% render_partial 'home_module.views.site_sidebar_partial' %}
            {% render_partial 'home_module.views.site_main_partial' %}
        </div>

    </div>
    {% block extra_footer_refrences %}{% endblock %}
    {% include 'shared/footer_references.html' %}
</body>
</html>

