<link rel="stylesheet" href="/static/Bootstrap/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-Black.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-BlackItalic.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-Bold.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-BoldItalic.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-ExtraBold.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-ExtraBoldItalic.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-ExtraLight.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-ExtraLightItalic.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-Italic.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-Light.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-LightItalic.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-Medium.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-MediumItalic.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-Regular.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-SemiBold.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-SemiBoldItalic.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-Thin.ttf">
<link rel="stylesheet" href="/static/fonts/poppins/Poppins-ThinItalic.ttf">
<link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/Bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/searchbar_style.css">
<link rel="stylesheet" href="/static/css/style.css">